---
layout: "base.njk"
---

<div class="welcome">
    <p>We are a small web agency that provides a full range of services for web applications. 
    Our team is entirely composed of back-end and front-end engineers, 
    and we do not have project managers or quality assurance personnel. 
    Therefore, we are accustomed to increased responsibility and delivering high-quality products. 
    <br><br>
    To start work together, simply email us at <a href="mailto:hi@baseme.me">hi@baseme.me</a></p>
</div>